{% extends "bootstrap/base.html" %}


{% block head %}
<link href="{{ url_for('static', filename='scripts/bootstrap/dist/css/bootstrap.css') }}" rel="stylesheet">

{% endblock %}

{% block title %}Files{% endblock %}

{% block body %}

    {% block navbar %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Upload</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{{ url_for('hello_world') }}">Home</a></li>
    </ul>
  </div>
</nav>
{% endblock %}
<div class="container-fluid">
{{ path }}<br>
{% for dir in dirs %}
    <a href="{{ url_for("files_list", path=join_path(path,dir)) }}">{{ dir }}/</a><br>
{% endfor %}
{% for file in files %}
    <a href="{{ url_for("download",path=join_path(path,file))}}">{{ file }}</a><br>
{% endfor %}
</div>
{% endblock %}